header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 20px;
  background-color: #ffffff;
  height: 3rem;
}

header nav p {
  margin: 0;
  margin-right: auto;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 20px 0 0;
  font-size: 14px;
}

header nav ul li {
  padding: 0 20px;
}

header nav a {
  text-decoration: none;
  color: #7b7f8c;
}

header nav a:hover {
  color: #000000;
}

header nav a:active {
  color: #000000;
}

hr {
  border: 0;
  border-top: 1px solid #e1e1e1;
  margin: 0;
}

p {
  font-weight: 500;
  font-size: 21px;
  color: #0a1533;
}

.material-icons {
  margin-right: 10px;
  font-size: 25px;
  color: #0a1533;
}
