.card {
  background-color: #f1f3f7;
  padding: 10px 0;
}

.header-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.title-section {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 16pt;
  margin-bottom: 0;
}

.subtitle {
  color: #6e6e6e;
  font-size: 10pt;
}

.button-filter {
  border-radius: 8px;
  border: none;
  padding: 10px 30px;
  background-color: #e9edff;
  color: #4069c8;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
}

.material-icons {
  font-size: 10pt;
  font-weight: bold;
}

.mat-mdc-table {
  background-color: #ffffff;
}

.mat-mdc-header-cell {
  color: #a9a9a9;
  border-bottom-color:  #e4e4e4;
  font-size: 9pt;
}

.mat-mdc-cell {
  border-bottom-color:  #e4e4e4da;
  font-size: 10pt;
}

.mat-mdc-select {
  font-size: 9pt;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 20px;
}

.status-new {
  background-color: #e9edff;
  color: #4069c8;
}

.status-on-process {
  background-color: #fff3cd;
  color: #e0ab0d;
}

.status-delivery {
  background-color: #fedbe5;
  color: #db0698;
}

.status-done {
  background-color: #cfeee6;
  color: #47bb98;
}
