.container-modal {
 margin: 20px;
 padding: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 2rem;
}

h2, #modal-title{
  margin-bottom: 2rem;
  font-weight: 500;
}

.mat-mdc-select-value-text {
  color: inherit !important;
}

.mat-mdc-option {
  background: white !important;
}

.mat-mdc-option:hover {
  background: rgba(255, 255, 255, 0.756) !important;
}

div.mat-mdc-select-panel {
    padding: 2px 0;
}

.action-button {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
