<nav class="sidebar">
  <div class="sidebar-logo">
    <mat-icon class="sidebar-logo-icon">ramen_dining</mat-icon>
    <span>Tokyo King</span>
  </div>
  <ul class="menu">
    <li>
      <a routerLink="/" class="menu-item">
        <mat-icon>home_app_logo</mat-icon>
        Home
      </a>
    </li>
    <li>
      <a routerLink="/order" class="menu-item">
        <mat-icon>shopping_basket</mat-icon>
        Orders
      </a>
    </li>
    <li>
      <a routerLink="/customers" class="menu-item">
        <mat-icon>contacts_product</mat-icon>
        Customers
      </a>
    </li>
    <li>
      <a routerLink="/setting" class="menu-item">
        <mat-icon>settings</mat-icon>
        Setting
      </a>
    </li>
  </ul>
</nav>
