.carousel-container {
  position: relative;
  width: 500px;
  height: 690px;
  margin-left: 4rem;
  overflow: hidden;
}

.carousel-card {
  margin: 0 1rem;
  margin-left: 4rem;
  padding: 1rem;
  width: 670px;
  height: 680px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  background-color: #ffffff;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item:not(.active) {
  opacity: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(2, 38, 81, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.indicators {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicators span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicators span.active {
  background-color: rgba(2, 65, 143, 0.5);
}
