/* You can add global styles to this file, and also import other style files */

* {
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.table-container {
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #ffffff;
  margin: 10px 20px;
  padding: 20px;
  background-color: #ffffff;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background:  rgb(236, 236, 236);
}

*::-webkit-scrollbar-thumb {
  background-color: #bbbbc3;
  border-radius: 50px;
  border: 3px solid  rgb(236, 236, 236);
}

.mat-mdc-select-value {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.status-column {
  max-width: 130px;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
